@model Http.News.Domain.Contracts.Dtos.ItemDetailsDto
<!-- Star raiting -->
@*<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">*@
<link rel="stylesheet" href="~/Content/font-awesome.min.css">
<link href="~/Content/css/star-rating.css" media="all" rel="stylesheet" type="text/css"/>
<!--suppress JSUnresolvedLibraryURL -->
@*<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>*@
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/star-rating.js" type="text/javascript"></script>

<div class="container" id="MyRate">
    @using (Html.BeginForm("Details", "Home", FormMethod.Post, new { viewModel = Model, score = "$(#score).value" }))
    {
        <input type="text" class="rating rating-loading" name="score" value="@Model.AverageRating" data-size="md" title="Total users rating:">
        <input type="hidden" name="ArticleID" value="@Model.Id" />
        <input type="hidden" name="CategoryID" value="@Model.CategoryId" />
        @Html.HiddenFor(model => model.CategoryId)
        @Html.HiddenFor(model => model.BigImageUrl)
        @Html.HiddenFor(model => model.Content)
        @Html.HiddenFor(model => model.MediumImageUrl)
        @Html.HiddenFor(model => model.NumOfView)
        @Html.HiddenFor(model => model.ShortDescription)
        @Html.HiddenFor(model => model.SmallImageUrl)
        @Html.HiddenFor(model => model.Title)
        @Html.HiddenFor(model => model.AverageRating)
        @Html.HiddenFor(model => model.CreatedBy)
        @Html.HiddenFor(model => model.CreatedDate)
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.ModifiedBy)
        @Html.HiddenFor(model => model.ModifiedDate)
        @Html.HiddenFor(model => model.Rating)
        @Html.HiddenFor(model => model.TotalRaters)
        <br>
        <div class="form-group" style="margin-top: 10px">
            <button type="submit" class="btn btn-primary">Submit</button>
            <button type="reset" class="btn btn-default">Reset</button>
        </div>
    }
    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
        </script>
    }
    <hr>
</div>
<script type="text/javascript">
    
    @if (!User.Identity.IsAuthenticated)
    {
        @(Html.Raw("$(\".rating\").rating({ readonly: true });"));
    }
    
    $('.rating').on('rating:change', function (event, value, caption) {
        $.post("@Url.Action("SetRating")", { itemId: @Model.Id, ratingValue: value })
            .done(function (result) {
            console.log(result);
        });

        console.log(value);
        console.log(@Model.Id);
    });
</script>