@using ITNewsWeb.Utils
@model Http.News.Domain.Contracts.ViewModels.ItemDetailsViewModel
<!-- Star raiting -->
<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link href="~/Content/css/star-rating.css" media="all" rel="stylesheet" type="text/css"/>
<!--suppress JSUnresolvedLibraryURL -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="~/Scripts/star-rating.js" type="text/javascript"></script>
<script src="~/Scripts/straiting.js"></script>
<div class="container">
    <div class="page-header">
        <h2>
            Bootstrap Star Rating Examples
            <small>&copy; Kartik Visweswaran, Krajee.com</small>
        </h2>
    </div>

    <form id="rate" method="post" action="">
        <input type="text" class="rating rating-loading" name="score" value="@Model.ItemDetails.AverageRating" data-size="md" title="Total users rating:">
        <input type="hidden" name="ArticleID" value="@Model.ItemDetails.Id"/>
        <input type="hidden" name="CategoryID" value="@Model.ItemDetails.CategoryId"/>
        <br>
    </form>
    <hr>
</div>
    @*<p id="currentlyrated" style="float:left;padding-left:20px;">
        @{
            if (Model.ItemDetails.AverageRating > 0)
            {
                var str = "Currently rated " + Model.ItemDetails.AverageRating.ToString("f") + " by " + Model.ItemDetails.TotalRaters + " people";
                @Html.Raw(str)
            }
            else
            {
                @Html.Raw("<span style=\"color:red\">Not yet rated.  Be the first to rate this article!</span>")
            }
        }
    </p>*@